.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}
#message{
    color: white;
    width: 604px;
    height: 55px;
    background: #1E1E1E;
    border-radius: 16px;
    border:none;
    box-sizing: border-box;
    padding: 2px 30px;

}

#message:focus { 
    outline: 2px solid #43A5FF;
}


.form-button{
    height: 45px;
    width: 45px;
    border: none;
    background-image: url("../images/add-button.svg");
    background-repeat: no-repeat;
    background-position: 5px;
    background-size: 68%;
    background-color: transparent;
    margin-left: 18px;
}